/* FONT FAMILY */
/* FONT SIZE */
/* FONT WEIGHT */
/* COLOR PALETE */
/* PATH */
/* MIXINS */
.content-area {
  width: 710px;
  margin: 0 auto;
}
.content-area figure {
  width: 580px;
  margin: 0 auto 40px auto;
}
.adv-2 {
  margin: 0 auto;
  border: 0;
  padding: 20px 0 0 0;
}
.section-content #widget-social-share {
  margin: 0 auto 40px auto;
}
.title-2 {
  width: 580px;
  margin: 0 auto 30px auto;
}
#frm-promo {
  padding-bottom: 40px;
}
#frm-promo h3 {
  text-align: center;
}
.fld-0 {
  text-align: center;
}
#frm-promo > fieldset input[type=checkbox],
#frm-promo > fieldset > label {
  float: none;
}
#frm-promo > fieldset > label {
  display: inline-block;
}
#frm-promo-file {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
#frm-promo p {
  text-align: center;
  font-size: 1.5em;
  color: #3f3f3f;
  text-transform: uppercase;
  font-weight: 500;
}
#frm-promo p em {
  color: #2f44c4;
}
#frm-promo p a {
  color: #c92c2c;
}
.section-list > header form {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}
.drop-list {
  font-size: 2.2em;
  height: 52px;
  line-height: 52px;
  color: #333;
}
.adv-2 {
  padding: 40px 0;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
}
#promo-area > article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
#promo-area > article > section {
  flex-grow: 0;
  width: 300px;
  border: 0;
  padding: 0;
}
#promo-area > article > section.card {
  width: 293px;
}
