<!-- LOGIN -->
<section id="sec-login">
	<!-- LOGIN HEADER -->
	<header>
		<h2>Acesso</h2>
		<a class="modal-btn-close">Fechar</a>
	</header>
	<!-- /LOGIN HEADER -->
	<!-- LOGIN WORKSPACE -->
	<div>
		<!-- LOGIN WITH FACEBOOK -->
		<button class="btn-login-with-facebook" type="button">Entre com o facebook</button>
		<!-- /LOGIN WITH FACEBOOK -->
		<!-- REGISTER WITH GOOGLE -->
		<button class="btn-login-with-google" type="button">Entre com o Google</button>
		<!-- /REGISTER WITH GOOGLE -->
		<!-- LOGIN FORM -->
		<form class="frm-user" id="frm-login" action="#" method="post">
			<fieldset>
				<p>Se você já tem cadastro, acesse:</p>
			</fieldset>
			<fieldset>
				<input id="frm-user-email" class="frm-text" type="text" name="userEmail" placeholder="e-mail">
			</fieldset>
			<fieldset>
				<input id="frm-user-password" class="frm-text" type="password" name="userPassword" placeholder="senha">
			</fieldset>
			<fieldset class="fld-0">
				<a id="frm-user-forget-password" href="#">Esqueceu a senha?</a>
				<input id="frm-user-persists" type="checkbox" name="userPersists">
				<label id="frm-user-label-user-persists" for="frm-user-persists">Manter conectado</label>
			</fieldset>
			<fieldset>
				<button id="btn-login-submit" type="submit">Entrar</button>
			</fieldset>
		</form>
		<!-- /LOGIN FORM -->
	</div>
	<!-- /LOGIN WORKSPACE -->
	<!-- LOGIN FOOTER -->
	<footer>
		<p>Não tem um login? <a id="btn-register-form" href="#">cadastre-se</a></p>
	</footer>
	<!-- /LOGIN FOOTER -->
</section>
<!-- /LOGIN -->