<!-- CARD DEFAULT -->
<section class="card noticias">
	<figure>
		<a href="#"><img src="assets/media/fake-img-3.jpg" width="" height="" alt="" /></a>
	</figure>
	<header>
		<h4><a href="#">Economia</a></h4>
		<var>8 mil</var>
	</header>
	<article>
		<h2><a href="#">Contas inativas do FGTS: calendário de saques deve começar em 10 de março</a></h2>
	</article>
	<aside>
		<ul>
			<li><a href="">CEF antecipa saques de março, abril e maio para sábado, 08/04</a></li>
		</ul>
	</aside>
</section>
<!-- /CARD DEFAULT -->