<!-- CARD HIGHLIGHT -->
<section class="card inner mid noticias">
	<figure>
		<img src="assets/media/fake-img-13.jpg" width="" height="" alt="" />
		<a href="#"></a>
	</figure>
	<header>
		<h4>Na próxima semana</h4>
	</header>
	<article>
		<h2><a href="#">Com Neymar decisivo, Barça bate PSG por 6 a 1 e faz história</a></h2>
		<var>Há 2 horas</var>
	</article>
	<aside>
		<ul>
			<li><a href="">Lorem ipsum dolor sit amet, consectuter admi pleasi lorem</a></li>
		</ul>
	</aside>
</section>
<!-- /CARD HIGHLIGHT -->