<!-- CARD DEFAULT -->
<section class="card entretenimento publicidade">
	<figure>
		<a href="#"><img src="assets/media/fake-img-8.jpg" width="" height="" alt="" /></a>
	</figure>
	<header>
		<h4><a href="#">Publieditorial</a></h4>
		<var>12 mil</var>
	</header>
	<article>
		<h2><a href="#">Blumenau é oficializada como capital nacional da cerveja</a></h2>
	</article>
	<aside>
		<ul>
			<li><a href="">Ambev comemora ano com balanço acima do esperado</a></li>
		</ul>
	</aside>
</section>
<!-- /CARD DEFAULT -->