<!-- CARD DEFAULT -->
<section class="card esportes">
	<figure>
		<a href="#"><img src="assets/media/fake-img-5.jpg" width="" height="" alt="" /></a>
	</figure>
	<header>
		<h4><a href="#">Futebol</a></h4>
		<var>12 mil</var>
	</header>
	<article>
		<h2><a href="#">Atlético-PR empaa e é vaiado; Paraná vence e dispara na liderança</a></h2>
	</article>
	<aside>
		<ul>
			<li><a href="">CBF muda regras para eleição durante Brasil x Uruguay</a></li>
		</ul>
	</aside>
</section>
<!-- /CARD DEFAULT -->