<!-- CARD DEFAULT -->
<section class="card noticias">
	<figure>
		<a href="#"><img src="assets/media/fake-img-2.jpg" width="" height="" alt="" /></a>
	</figure>
	<header>
		<h4><a href="#">Internet</a></h4>
		<var>75 mil</var>
	</header>
	<article>
		<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
	</article>
	<aside>
		<ul>
			<li><a href="">Lorem ipsum dolor sit amet, consectuter admi pleasi lorem</a></li>
		</ul>
	</aside>
</section>
<!-- /CARD DEFAULT -->