<!-- CARD MAIN -->
<section class="card main noticias">
	<figure>
		<a href="#"><img src="assets/media/fake-img-0.jpg" width="" height="" alt="" /></a>
	</figure>
	<header>
		<h4><a href="#">Notícias</a></h4>
		<var>13 mil</var>
	</header>
	<article>
		<h2><a href="#">Gol terá passagem mais barata para quem não despachar malas</a></h2>
	</article>
	<aside>
		<ul>
			<li><a href="">Com novas regras de bagagem, voo Curitiba-SP tem lugares a R$ 69,90</a></li>
			<li><a href="">Lorem ipsum dolor sit amet, consectuter admi pleasi lorem</a></li>
		</ul>
	</aside>
</section>
<!-- /CARD MAIN -->