<!-- FOOTER -->
<footer id="footer">
	<!-- FOOTER WORKSPACE -->
	<div>
		include "menu-footer.html"
		<div>
			<h6><a href="/">Ric Mais</a></h6>
			<!-- SOCIAL -->
			<nav class="social-follow">
				<h4>Siga Ric Mais</h4>
				<ul>
					<li><a class="ico-facebook" href="#">Facebook</a></li>
					<li><a class="ico-twitter" href="#">Twitter</a></li>
					<li><a class="ico-instagram" href="#">Instagram</a></li>
					<li><a class="ico-youtube" href="#">YouTube</a></li>
					<li><a class="ico-google-plus" href="#">Google Plus One</a></li>
				</ul>
			</nav>
			<!-- /SOCIAL -->
			<!-- CONTACT -->
			<nav id="contact-info">
				<ul>
					<li><a class="ico-email">portal@ricpr.com.br</a></li>
					<li><a class="ico-whatsapp">+55 (41) 3331-6100</a></li>
				</ul>
			</nav>
			<!-- /CONTACT -->
			<address>&copy; 2017. Todos os direitos reservados. RICTV</address>
			<ul id="corp-links">
				<li><a href="#">Informe um erro</a></li>
				<li><a href="#">Política de privacidade</a></li>
			</ul>
		</div>
	</div>
	<!-- /FOOTER WORKSPACE -->
</footer>
<!-- /FOOTER -->
