<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>RIC Mais - Notícias do Paraná - RICTV Record</title>

<meta name="description" content="RIC Mais - Notícias de Curitiba, Londrina, Maringá, Cascavel, Toledo, Foz do Iguaçu. Vídeos da RIC TV Record." />
<meta name="google-site-verification" content="PpcpfrD7-_zGZ_93HsiHeQ6ZHXV7UTYyDk5LHhhd5v8" />
<meta name="google-site-verification" content="A8w5uPDxDU5NfO-mUeJEypWq954iMw6mjyASsjmX4ok" />
<meta property="place:location:latitude" content="-25.393673"/>
<meta property="place:location:longitude" content="-49.284295"/>
<meta property="business:contact_data:street_address" content="Rua Amauri Lange Silvério, 450"/>
<meta property="business:contact_data:locality" content="Curitiba"/>
<meta property="business:contact_data:postal_code" content="82120000"/>
<meta property="business:contact_data:country_name" content="Brasil"/>
<meta property="business:contact_data:email" content="portal@ricpr.com.br"/>
<meta property="business:contact_data:phone_number" content="+55 (41)3331-6141"/>
<meta property="business:contact_data:website" content="https://pr.ricmais.com.br"/>

<!-- Schema.org markup para o Google+ -->
<meta itemprop="name" content="RIC Mais - Notícias do Paraná - RICTV Record">
<meta itemprop="description" content="RIC Mais - Notícias de Curitiba, Londrina, Maringá, Cascavel, Toledo, Foz do Iguaçu. Vídeos da RIC TV Record.">
<meta itemprop="image" content="https://static.pr.ricmais.com.br/ricmaispr/uploads/20160303_060317_RIC_MAIS.jpg">
<meta name="msvalidate.01" content="0A0CB30C6673048EEC34095580315FAC">
<meta name="keywords" content="RICTV, Record, Paraná, portal de conteúdo, notícias, informação, interatividade">
<meta name="robots" content="index, follow">
<meta name="title" content="RIC Mais - Notícias do Paraná - RICTV Record">

<!-- Códigos de APPs do Facebook -->
<meta property="fb:admins" content="670338873083912">
<meta property="fb:app_id" content="306119732817466">

<!-- Metas do Facebook -->
<meta property="og:locale" content="pt_BR">
<meta property="og:type" content="website">
<meta property="og:title" content="RIC Mais - Notícias do Paraná - RICTV Record">
<meta property="og:description" content="RIC Mais - Notícias de Curitiba, Londrina, Maringá, Cascavel, Toledo, Foz do Iguaçu. Vídeos da RIC TV Record.">
<meta property="og:url" content="http://pr.ricmais.com.br/">
<meta property="article:publisher" content="https://www.facebook.com/RICMaisPR/">
<meta property="og:image" content="https://static.pr.ricmais.com.br/ricmaispr/uploads/20160303_060317_RIC_MAIS.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:site_name" content="Ric Mais Paraná">
<meta property="og:latitude" content="-25.393673">
<meta property="og:longitude" content="-49.284295">
<meta property="og:street-address" content="Rua Amauri Lange Silvério, 450 ">
<meta property="og:locality" content="Curitiba">
<meta property="og:region" content="PR">
<meta property="og:postal-code" content="82120000">
<meta property="og:country-name" content="Brazil">
<meta property="og:email" content="ricmaispr@ricpr.com.br">
<meta property="og:phone_number" content="+55 (41) 3331-6141">
<!-- Metas do Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="RIC Mais - Notícias do Paraná - RICTV Record">
<meta name="twitter:description" content="RIC Mais - Notícias de Curitiba, Londrina, Maringá, Cascavel, Toledo, Foz do Iguaçu. Vídeos da RIC TV Record.">
<meta name="twitter:site" content="https://twitter.com/ricmaispr">
<meta name="twitter:image:src" content="https://static.pr.ricmais.com.br/ricmaispr/uploads/20160303_060317_RIC_MAIS.jpg">
<meta name="twitter:creator" content="@ricmaispr">
<meta name="msvalidate.01" content="B9C1F98F6D5C0ABA9EC340B5FAA49A60">
<meta name="generator" content="Symfony">
<meta name="Author" content="Feed de Notícias de Curitiba, Londrina, Maringá, Cascavel, Foz do Iguaçu">
<meta name="keywords" content="Notícias de Curitiba, Londrina, Maringá, Cascavel, Foz do Iguacu, Reportagens e vídeos da RICTV Record.">
<meta name="geo.placename" content="Rua Amauri Lange Silvério, 450 - Pilarzinho,Curitiba - PR, 82120-000, Brasil">
<meta name="geo.placename" content="Rua Amauri Lange Silvério, 450 - Pilarzinho,Curitiba - PR, 82120-000, Brasil">
<meta name="geo.position" content="25.393673, -49.284295">
<meta name="geo.region" content="BR-PR">
<meta name="ICBM" content="-25.393673, -49.284295">
<meta name="DC.Title" content="RIC Mais - Notícias do Paraná - RICTV Record">
<meta name="DC.creator" content="RIC TV">
<meta name="DC.creator.Address" content="ric@ricpr.com.br">
<meta name="Custodian" content="RIC MAIS Paraná">
<meta name="DC.date.created" content="2000-12-10">
<meta name="DC.date.modified" content="2016-09-12">
<meta name="DC.Identifier" content="http://pr.ricmais.com.br/">

<!-- Google Authorship & Publisher Markup - Utilizado para definir quem é o autor e quem publicou o link -->
<link rel="publisher" href="https://plus.google.com/u/1/+RICMaisParaná">
<link rel="author" href="https://plus.google.com/u/1/+RICMaisParaná/posts"/>

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="assets/media/favicon.ico" />

<!-- short link -->
<link rel="shortlink" href="https://pr.ricmais.com.br">

<link rel="stylesheet" type="text/css" href="assets/style/main.css">
