<!-- HEADER -->
<header id="header">
	<!-- HEADER WORKSPACE -->
	<div>
		<!-- HEADER TITLE -->
		<h1><a href="/">Ric Mais</a></h1>
		<!-- /HEADER TITLE -->

		<!-- HEADER WEATHER -->
		<section id="header-weather">
			<button id="btn-header-weather" type="button" data-tip="change-local">
				<address id="weather-city">Curitiba</address>
				<figure>
					<img src="assets/media/ico-weather-01.svg" width="" height="">
					<figcaption>Nublado</figcaption>
				</figure>
				<var id="weather-degrees" class="">27&ordm;</var>
			</button>
			include "list-local.html"
		</section>
		<!-- /HEADER WEATHER -->

		<!-- HEADER SOCIAL SHARE -->
		<nav class="social-follow">
			<ul>
				<li><a class="ico-facebook" href="#">Facebook</a></li>
				<li><a class="ico-twitter" href="#">Twitter</a></li>
				<li><a class="ico-instagram" href="#">Instagram</a></li>
				<li><a class="ico-youtube" href="#">YouTube</a></li>
				<li><a class="ico-google-plus" href="#">Google Plus One</a></li>
			</ul>
		</nav>
		<!-- HEADER SOCIAL SHARE -->

		<!-- HEADER SEARCH -->
		<section id="header-search">
			<form id="frm-search" action="#" method="post">
				<fieldset>
					<input id="txt-search-input" type="text" name="qs" placeholder="Busca" />
					<button id="btn-search-submit" type="submit">Ok</button>
				</fieldset>
			</form>
		</section>
		<!-- /HEADER SEARCH -->
	</div>
	<!-- /HEADER WORKSPACE -->
</header>
<!-- /HEADER -->

<!-- MAIN MENU -->
<section id="sec-main-menu">
	<!-- MAIN MENU WORKSPACE -->
	<div>
		<!-- USER TOGGLE LOGIN -->
		<button id="btn-login-form" type="button" data-login="false">Login</button>
		<!-- /USER TOGGLE LOGIN -->

		<!-- REGISTERED USER -->
		<section id="sec-user">
			<div>
				<button type="button" class="btn-close" onclick="$('#sec-user').removeClass('active');">Fechar</button>
				<address>Olá, Fulano</address>
				<a href="#">Logout</a>
			</div>
		</section>
		<!-- /REGISTERED USER -->

		<!-- MAIN NAVIGATION -->
		<nav id="main-navigation">
			<ul>
				<li class="noticias">
					<a href="#">Notícias</a>
					<section class="main-navigation-submenu">
						<ul>
							<li><a href="#">Economia</a></li>
							<li><a href="#">Educação</a></li>
							<li><a href="#">Emprego</a></li>
							<li><a href="#">Notícias Policiais</a></li>
							<li><a href="#">Dia a Dia</a></li>
							<li><a href="#">Clima Tempo</a></li>
							<li><a href="#">Política</a></li>
							<li><a href="#">Saúde</a></li>
							<li><a href="#">Tecnologia</a></li>
						</ul>
					</section>
				</li>
				<li class="entretenimento">
					<a href="#">Entretenimento</a>
					<section class="main-navigation-submenu">
						<ul>
							<li><a href="#">Economia</a></li>
							<li><a href="#">Educação</a></li>
							<li><a href="#">Emprego</a></li>
							<li><a href="#">Notícias Policiais</a></li>
							<li><a href="#">Dia a Dia</a></li>
							<li><a href="#">Clima Tempo</a></li>
							<li><a href="#">Política</a></li>
							<li><a href="#">Saúde</a></li>
							<li><a href="#">Tecnologia</a></li>
						</ul>
					</section>
				</li>
				<li class="esportes">
					<a href="#">Esportes</a>
					<section class="main-navigation-submenu">
						<ul>
							<li><a href="#">Economia</a></li>
							<li><a href="#">Educação</a></li>
							<li><a href="#">Emprego</a></li>
							<li><a href="#">Notícias Policiais</a></li>
							<li><a href="#">Dia a Dia</a></li>
							<li><a href="#">Clima Tempo</a></li>
							<li><a href="#">Política</a></li>
							<li><a href="#">Saúde</a></li>
							<li><a href="#">Tecnologia</a></li>
						</ul>
					</section>
				</li>
				<li class="noticias"><a href="#">Ric Play</a></li>
				<li><a href="#">Promoções</a></li>
				<li><a href="#">Serviços</a></li>
				<li><a href="#">Horóscopo</a></li>
				<li><a href="#">Previsão do Tempo</a></li>
				<li><a href="#">Grupo RIC</a></li>
			</ul>
		</nav>
		<!-- /MAIN NAVIGATION -->
	</div>
	<!-- /MAIN MENU WORKSPACE -->
</section>
<!-- /MAIN MENU -->
