			<ul>
				<li>Abatia</li>
				<li>Adrianopolis</li>
				<li>Agudos do Sul</li>
				<li>Almirante Tamandare</li>
				<li>Altamira do Parana</li>
				<li>Altania</li>
				<li>Alto Parana</li>
				<li>Alto Piquiri</li>
				<li>Alvorada do Sul</li>
				<li>Amapora</li>
				<li>Ampere</li>
				<li>Anahy</li>
				<li>Andira</li>
				<li>Angulo</li>
				<li>Antonina</li>
				<li>Antonio Olinto</li>
				<li>Apucarana</li>
				<li>Arapongas</li>
				<li>Arapoti</li>
				<li>Arapua</li>
				<li>Araruna</li>
				<li>Araucaria</li>
				<li>Ariranha do Ivai</li>
				<li>Assai</li>
				<li>Assis Chateaubriand</li>
				<li>Astorga</li>
				<li>Atalaia</li>
				<li>Balsa Nova</li>
				<li>Bandeirantes</li>
				<li>Barbosa Ferraz</li>
				<li>Barra do Jacare</li>
				<li>Barracao</li>
				<li>Bela Vista da Caroba</li>
				<li>Bela Vista do Paraiso</li>
				<li>Bituruna</li>
				<li>Boa Esperanca do Iguacu</li>
				<li>Boa Esperanca</li>
				<li>Boa Ventura de Sao Roque</li>
				<li>Boa Vista da Aparecida</li>
				<li>Bocaiuva do Sul</li>
				<li>Bom Jesus do Sul</li>
				<li>Bom Sucesso do Sul</li>
				<li>Bom Sucesso</li>
				<li>Borrazopolis</li>
				<li>Braganey</li>
				<li>Brasilandia do Sul</li>
				<li>Cafeara</li>
				<li>Cafelandia</li>
				<li>Cafezal do Sul</li>
				<li>California</li>
				<li>Cambara</li>
				<li>Cambe</li>
				<li>Cambira</li>
				<li>Campina Grande do Sul</li>
				<li>Campina da Lagoa</li>
				<li>Campina do Simao</li>
				<li>Campo Bonito</li>
				<li>Campo Largo</li>
				<li>Campo Magro</li>
				<li>Campo Mourao</li>
				<li>Campo do Tenente</li>
				<li>Candido de Abreu</li>
				<li>Candoi</li>
				<li>Cantagalo</li>
				<li>Capanema</li>
				<li>Capitao Leonidas Marques</li>
				<li>Carambei</li>
				<li>Carlopolis</li>
				<li>Cascavel</li>
				<li>Castro</li>
				<li>Catanduvas</li>
				<li>Centenario do Sul</li>
				<li>Cerro Azul</li>
				<li>Ceu Azul</li>
				<li>Chopinzinho</li>
				<li>Cianorte</li>
				<li>Cidade Gaucha</li>
				<li>Clevelandia</li>
				<li>Colombo</li>
				<li>Colorado</li>
				<li>Congonhinhas</li>
				<li>Conselheiro Mairinck</li>
				<li>Contenda</li>
				<li>Corbelia</li>
				<li>Cornelio Procopio</li>
				<li>Coronel Domingos Soares</li>
				<li>Coronel Vivida</li>
				<li>Corumbatai do Sul</li>
				<li>Cruz Machado</li>
				<li>Cruzeiro do Iguacu</li>
				<li>Cruzeiro do Oeste</li>
				<li>Cruzeiro do Sul</li>
				<li>Cruzmaltina</li>
				<li>Curitiba</li>
				<li>Curiuva</li>
				<li>Diamante d'Oeste</li>
				<li>Diamante do Norte</li>
				<li>Diamante do Sul</li>
				<li>Dois Vizinhos</li>
				<li>Douradina</li>
				<li>Doutor Camargo</li>
				<li>Doutor Ulysses</li>
				<li>Eneas Marques</li>
				<li>Engenheiro Beltrao</li>
				<li>Entre Rios do Oeste</li>
				<li>Esperanca Nova</li>
				<li>Espigao Alto do Iguacu</li>
				<li>Farol</li>
				<li>Faxinal</li>
				<li>Fazenda Rio Grande</li>
				<li>Fenix</li>
				<li>Fernandes Pinheiro</li>
				<li>Figueira</li>
				<li>Flor da Serra do Sul</li>
				<li>Florai</li>
				<li>Floresta</li>
				<li>Florestopolis</li>
				<li>Florida</li>
				<li>Formosa do Oeste</li>
				<li>Foz do Iguacu</li>
				<li>Foz do Jordao</li>
				<li>Francisco Alves</li>
				<li>Francisco Beltrao</li>
				<li>General Carneiro</li>
				<li>Godoy Moreira</li>
				<li>Goioere</li>
				<li>Goioxim</li>
				<li>Grandes Rios</li>
				<li>Guaira</li>
				<li>Guairaca</li>
				<li>Guamiranga</li>
				<li>Guapirama</li>
				<li>Guaporema</li>
				<li>Guaraci</li>
				<li>Guaraniacu</li>
				<li>Guarapuava</li>
				<li>Guaraquecaba</li>
				<li>Guaratuba</li>
				<li>Honorio Serpa</li>
				<li>Ibaiti</li>
				<li>Ibema</li>
				<li>Ibipora</li>
				<li>Icaraima</li>
				<li>Iguaracu</li>
				<li>Iguatu</li>
				<li>Imbau</li>
				<li>Imbituva</li>
				<li>Inacio Martins</li>
				<li>Inaja</li>
				<li>Indianopolis</li>
				<li>Ipiranga</li>
				<li>Ipora</li>
				<li>Iracema do Oeste</li>
				<li>Irati</li>
				<li>Iretama</li>
				<li>Itaguaje</li>
				<li>Itaipulandia</li>
				<li>Itambaraca</li>
				<li>Itambe</li>
				<li>Itapejara d'Oeste</li>
				<li>Itaperucu</li>
				<li>Itauna do Sul</li>
				<li>Ivai</li>
				<li>Ivaipora</li>
				<li>Ivate</li>
				<li>Ivatuba</li>
				<li>Jaboti</li>
				<li>Jacarezinho</li>
				<li>Jaguapita</li>
				<li>Jaguariaiva</li>
				<li>Jandaia do Sul</li>
				<li>Janiopolis</li>
				<li>Japira</li>
				<li>Japura</li>
				<li>Jardim Alegre</li>
				<li>Jardim Olinda</li>
				<li>Jataizinho</li>
				<li>Jesuitas</li>
				<li>Joaquim Tavora</li>
				<li>Jundiai do Sul</li>
				<li>Juranda</li>
				<li>Jussara</li>
				<li>Kalore</li>
				<li>Lapa</li>
				<li>Laranjal</li>
				<li>Laranjeiras do Sul</li>
				<li>Leopolis</li>
				<li>Lidianopolis</li>
				<li>Lindoeste</li>
				<li>Loanda</li>
				<li>Lobato</li>
				<li>Londrina</li>
				<li>Luiziana</li>
				<li>Lunardelli</li>
				<li>Lupionopolis</li>
				<li>Mallet</li>
				<li>Mambore</li>
				<li>Mandaguacu</li>
				<li>Mandaguari</li>
				<li>Mandirituba</li>
				<li>Manfrinopolis</li>
				<li>Mangueirinha</li>
				<li>Manoel Ribas</li>
				<li>Marechal Candido Rondon</li>
				<li>Maria Helena</li>
				<li>Marialva</li>
				<li>Marilandia do Sul</li>
				<li>Marilena</li>
				<li>Mariluz</li>
				<li>Maringa</li>
				<li>Mariopolis</li>
				<li>Maripa</li>
				<li>Marmeleiro</li>
				<li>Marquinho</li>
				<li>Marumbi</li>
				<li>Matelandia</li>
				<li>Matinhos</li>
				<li>Mato Rico</li>
				<li>Maua da Serra</li>
				<li>Medianeira</li>
				<li>Mercedes</li>
				<li>Mirador</li>
				<li>Miraselva</li>
				<li>Missal</li>
				<li>Moreira Sales</li>
				<li>Morretes</li>
				<li>Munhoz de Melo</li>
				<li>Nossa Senhora das Gracas</li>
				<li>Nova Alianca do Ivai</li>
				<li>Nova America da Colina</li>
				<li>Nova Aurora</li>
				<li>Nova Cantu</li>
				<li>Nova Esperanca do Sudoeste</li>
				<li>Nova Esperanca</li>
				<li>Nova Fatima</li>
				<li>Nova Laranjeiras</li>
				<li>Nova Londrina</li>
				<li>Nova Olimpia</li>
				<li>Nova Prata do Iguacu</li>
				<li>Nova Santa Barbara</li>
				<li>Nova Santa Rosa</li>
				<li>Nova Tebas</li>
				<li>Novo Itacolomi</li>
				<li>Ortigueira</li>
				<li>Ourizona</li>
				<li>Ouro Verde do Oeste</li>
				<li>Paicandu</li>
				<li>Palmas</li>
				<li>Palmeira</li>
				<li>Palmital</li>
				<li>Palotina</li>
				<li>Paraiso do Norte</li>
				<li>Paranacity</li>
				<li>Paranagua</li>
				<li>Paranapoema</li>
				<li>Paranavai</li>
				<li>Pato Bragado</li>
				<li>Pato Branco</li>
				<li>Paula Freitas</li>
				<li>Paulo Frontin</li>
				<li>Peabiru</li>
				<li>Perobal</li>
				<li>Perola d'Oeste</li>
				<li>Perola</li>
				<li>Pien</li>
				<li>Pinhais</li>
				<li>Pinhal de Sao Bento</li>
				<li>Pinhalao</li>
				<li>Pinhao</li>
				<li>Pirai do Sul</li>
				<li>Piraquara</li>
				<li>Pitanga</li>
				<li>Pitangueiras</li>
				<li>Planaltina do Parana</li>
				<li>Planalto</li>
				<li>Ponta Grossa</li>
				<li>Pontal do Parana</li>
				<li>Porecatu</li>
				<li>Porto Amazonas</li>
				<li>Porto Barreiro</li>
				<li>Porto Rico</li>
				<li>Porto Vitoria</li>
				<li>Prado Ferreira</li>
				<li>Pranchita</li>
				<li>Presidente Castelo Branco</li>
				<li>Primeiro de Maio</li>
				<li>Prudentopolis</li>
				<li>Quarto Centenario</li>
				<li>Quatigua</li>
				<li>Quatro Barras</li>
				<li>Quatro Pontes</li>
				<li>Quedas do Iguacu</li>
				<li>Querencia do Norte</li>
				<li>Quinta do Sol</li>
				<li>Quitandinha</li>
				<li>Ramilandia</li>
				<li>Rancho Alegre d'Oeste</li>
				<li>Rancho Alegre</li>
				<li>Realeza</li>
				<li>Reboucas</li>
				<li>Renascenca</li>
				<li>Reserva do Iguacu</li>
				<li>Reserva</li>
				<li>Ribeirao Claro</li>
				<li>Ribeirao do Pinhal</li>
				<li>Rio Azul</li>
				<li>Rio Bom</li>
				<li>Rio Bonito do Iguacu</li>
				<li>Rio Branco do Ivai</li>
				<li>Rio Branco do Sul</li>
				<li>Rio Negro</li>
				<li>Rolandia</li>
				<li>Roncador</li>
				<li>Rondon</li>
				<li>Rosario do Ivai</li>
				<li>Sabaudia</li>
				<li>Salgado Filho</li>
				<li>Salto do Itarare</li>
				<li>Salto do Lontra</li>
				<li>Santa Amelia</li>
				<li>Santa Cecilia do Pavao</li>
				<li>Santa Cruz de Monte Castelo</li>
				<li>Santa Fe</li>
				<li>Santa Helena</li>
				<li>Santa Ines</li>
				<li>Santa Isabel do Ivai</li>
				<li>Santa Izabel do Oeste</li>
				<li>Santa Lucia</li>
				<li>Santa Maria do Oeste</li>
				<li>Santa Mariana</li>
				<li>Santa Monica</li>
				<li>Santa Tereza do Oeste</li>
				<li>Santa Terezinha de Itaipu</li>
				<li>Santana do Itarare</li>
				<li>Santo Antonio da Platina</li>
				<li>Santo Antonio do Caiua</li>
				<li>Santo Antonio do Paraiso</li>
				<li>Santo Antonio do Sudoeste</li>
				<li>Santo Inacio</li>
				<li>Sao Carlos do Ivai</li>
				<li>Sao Jeronimo da Serra</li>
				<li>Sao Joao do Caiua</li>
				<li>Sao Joao do Ivai</li>
				<li>Sao Joao do Triunfo</li>
				<li>Sao Joao</li>
				<li>Sao Jorge d'Oeste</li>
				<li>Sao Jorge do Ivai</li>
				<li>Sao Jorge do Patrocinio</li>
				<li>Sao Jose da Boa Vista</li>
				<li>Sao Jose das Palmeiras</li>
				<li>Sao Jose dos Pinhais</li>
				<li>Sao Manoel do Parana</li>
				<li>Sao Mateus do Sul</li>
				<li>Sao Miguel do Iguacu</li>
				<li>Sao Pedro do Iguacu</li>
				<li>Sao Pedro do Ivai</li>
				<li>Sao Pedro do Parana</li>
				<li>Sao Sebastiao da Amoreira</li>
				<li>Sao Tome</li>
				<li>Sapopema</li>
				<li>Sarandi</li>
				<li>Saudade do Iguacu</li>
				<li>Senges</li>
				<li>Serranopolis do Iguacu</li>
				<li>Sertaneja</li>
				<li>Sertanopolis</li>
				<li>Siqueira Campos</li>
				<li>Sulina</li>
				<li>Tamarana</li>
				<li>Tamboara</li>
				<li>Tapejara</li>
				<li>Tapira</li>
				<li>Teixeira Soares</li>
				<li>Telemaco Borba</li>
				<li>Terra Boa</li>
				<li>Terra Rica</li>
				<li>Terra Roxa</li>
				<li>Tibagi</li>
				<li>Tijucas do Sul</li>
				<li>Toledo</li>
				<li>Tomazina</li>
				<li>Tres Barras do Parana</li>
				<li>Tunas do Parana</li>
				<li>Tuneiras do Oeste</li>
				<li>Tupassi</li>
				<li>Turvo</li>
				<li>Ubirata</li>
				<li>Umuarama</li>
				<li>Uniao da Vitoria</li>
				<li>Uniflor</li>
				<li>Urai</li>
				<li>Ventania</li>
				<li>Vera Cruz do Oeste</li>
				<li>Vere</li>
				<li>Vila Alta</li>
				<li>Virmond</li>
				<li>Vitorino</li>
				<li>Wenceslau Braz</li>
				<li>Xambre</li>
			</ul>