<nav id="nav-footer">
	<ul>
		<li>
			<h5><a href="#">Noticias</a></h5>
			<ul>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
			</ul>
		</li>
		<li>
			<h5><a href="#">Entretenimento</a></h5>
			<ul>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
			</ul>
		</li>
		<li>
			<h5><a href="#">Esportes</a></h5>
			<ul>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
			</ul>
		</li>
		<li>
			<h5><a href="#">Programas de TV</a></h5>
			<ul>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
			</ul>
		</li>
		<li>
			<h5><a href="#">Ric Play</a></h5>
			<ul>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
			</ul>
		</li>
		<li>
			<h5><a href="#">Promoções</a></h5>
			<ul>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
				<li><a href="">subitem</a></li>
			</ul>
		</li>
	</ul>
</nav>