<!-- WIDGET OUTBRAIN -->
<section id="widget-outbrain">
	<header>
		<img src="/assets/media/lbl-outbrain.png" width="164" height="15" alt="Recomendado por Outbrain" />
		<h2>Selecionados para você</h2>
	</header>
	<article>
		<ul>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
				</figure>
				<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-23.jpg" width="195" height="132" alt="" /></a>
				</figure>
				<h2><a href="#">Contas inativas do FGTS: calendário de saques deve começar em 10 de março</a></h2>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
				</figure>
				<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
			</li>
		</ul>
	</article>
</section>
<!-- /WIDGET OUTBRAIN -->