<!-- WIDGET TOP 5 -->
<section id="widget-top-5-read">
	<header>
		<h2>Mais curtidas</h2>
	</header>
	<div>
		<ol>
			<li><var>1.</var><a href="#">Gol terá passagem mais barata para quem não despachar malas</a></li>
			<li><var>2.</var><a href="#">Fã acampa 6 meses na fila para ver Justin Bieber em São Paulo</a></li>
			<li><var>3.</var><a href="#">Gol terá passagem mais barata para quem não despachar malas</a></li>
			<li><var>4.</var><a href="#">Fã acampa 6 meses na fila para ver Justin Bieber em São Paulo</a></li>
			<li><var>5.</var><a href="#">Gol terá passagem mais barata para quem não despachar malas</a></li>
		</ol>
	</div>
</section>
<!-- /WIDGET TOP 5 -->