<!-- WIDGET RIC PLAY -->
<section id="widget-ric-play">
	<article>
		<ul>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-4.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">Gol terá passagem mais barata para quem não despachar mala</a></h2>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-17.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">Casal é flagrado fazendo sexo em rua de Santa Terezinha do Itaipú</a></h2>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-16.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">parque em Curitiba oferece muita diversão para adultos e crianças</a></h2>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-18.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">Casal é flagrado fazendo sexo em rua de Santa Terezinha do Itaipú</a></h2>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-19.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">parque em Curitiba oferece muita diversão para adultos e crianças</a></h2>
					</figcaption>
				</figure>
			</li>
		</ul>
	</article>
</section>
<!-- /WIDGET RIC PLAY -->