<!-- WIDGET COLUMNIST -->
<section id="widget-blogs-and-partners" data-page-size="1">
	<div>
		<h3>Blogs e parceiros</h3>
		<ul id="widget-blogs-and-partners-list">
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-2.jpg" width="" height="" alt="" /></a>
				</figure>
				<address><a href="">Fulana de tal</a></address>
				<h3><a href="">Saúde e bem estar</a></h3>
				<h2><a href="">Título da notícia que irá aparecer aqui no destaque</a></h2>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-3.jpg" width="" height="" alt="" /></a>
				</figure>
				<address><a href="">Dr. Fulano de Tal</a></address>
				<h3><a href="">Ciencia e tecnologia</a></h3>
				<h2><a href="">Título da notícia que irá aparecer aqui no destaque</a></h2>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-5.jpg" width="" height="" alt="" /></a>
				</figure>
				<address><a href="">Fulana de tal</a></address>
				<h3><a href="">Saúde e bem estar</a></h3>
				<h2><a href="">Título da notícia que irá aparecer aqui no destaque</a></h2>
			</li>
		</ul>
		<nav id="widget-blogs-and-partners-nav">
			<a id="widget-blogs-and-partners-nav-prev" href="#">Anterior</a>
			<a id="widget-blogs-and-partners-nav-next" href="#">Próximo</a>
			<ol>
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ol>
		</nav>
	</div>
	<div>
		<h4>Últimas postagens</h4>
		<ul id="widget-blogs-and-partners-list-aside">
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-5.jpg" width="" height="" alt="" /></a>
				</figure>
				<address><a href="">Fulana de tal</a></address>
				<h2><a href="">Título da notícia que irá aparecer aqui no destaque</a></h2>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-3.jpg" width="" height="" alt="" /></a>
				</figure>
				<address><a href="">Fulana de tal</a></address>
				<h2><a href="">Título da notícia que irá aparecer aqui no destaque</a></h2>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-2.jpg" width="" height="" alt="" /></a>
				</figure>
				<address><a href="">Fulana de tal</a></address>
				<h2><a href="">Título da notícia que irá aparecer aqui no destaque</a></h2>
			</li>
		</ul>
	</div>
</section>
<!-- /WIDGET COLUMNIST -->