<!-- WIDGET EXTRA BLOCK #1 -->
<section class="widget-extra-block-1">
	<header>
		<h2 class="title-7">Galeria de fotos</h2>
	</header>
	<article>
		<ul>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-24.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h4>Publieditorial</h4>
						<h2><a href="#">Manifestantes fazem ato nas capitais no 1&ordm; de maio</a></h2>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-25.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">Como foi o show do U2</a></h2>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#"><img src="assets/media/fake-img-26.jpg" width="" height="" alt="" /></a>
					<figcaption>
						<h2><a href="#">Brasil vence e está na copa</a></h2>
					</figcaption>
				</figure>
			</li>
		</ul>
	</article>
</section>
<!-- /WIDGET EXTRA BLOCK #1 -->