<!-- NEWSLETTER -->
<section id="widget-newsletter">
	<header>
		<h3>Newsletter</h3>
		<p>Cadastre-se para receber as novidades diretamente em seu e-mail</p>
	</header>
	<!-- NEWSLETTER WORKSPACE -->
	<div>
		<form id="frm-newsletter" action="#" method="post">
			<fieldset>
				<input id="txt-newsletter-email" class="frm-text" type="text" name="newsletterEmail" placeholder="Insira seu e-mail">
				<button id="btn-newsletter-submit" type="submit">Ok</button>
			</fieldset>
		</form>
	</div>
	<!-- /NEWSLETTER WORKSPACE -->
</section>
<!-- /NEWSLETTER -->