<!-- WIDGET EXTRA BLOCK #2 -->
<section class="widget-extra-block-2">
	<div>
		<article>
			<header>
				<h3>Destaques</h3>
				<figure>
					<a href="#"><img src="assets/media/fake-img-27.jpg" width="" height="" alt="" /></a>
				</figure>
				<h4>Policiais</h4>
				<h2><a href="#">Assaltantes de celualres são alvos de operação</a></h2>
			</header>
		</article>
		<div>
			include "card-small-1.html"
			include "card-small-2.html"
			include "card-small-3.html"
		</div>
		<div>
		include "widget-top-5.html"
		</div>
	</div>
</section>
<!-- /WIDGET EXTRA BLOCK #2 -->