<!-- HOROSCOPE -->
<section id="widget-horoscope">
	<header>
		<h3>Horóscopo</h3>
	</header>
	<!-- HOROSCOPE WORKSPACE -->
	<div>
		<ul>
			<li><a href="#aries" class="ico-aries">Áries</a></li>
			<li><a href="#taurus" class="ico-taurus">Touro</a></li>
			<li><a href="#gemini" class="ico-gemini">Gêmeos</a></li>
			<li><a href="#cancer" class="ico-cancer">Câncer</a></li>
			<li><a href="#leo" class="ico-leo">Leão</a></li>
			<li><a href="#virgo" class="ico-virgo">Virgem</a></li>
			<li><a href="#libra" class="ico-libra">Libra</a></li>
			<li><a href="#scorpio" class="ico-scorpio">Scorpião</a></li>
			<li><a href="#sagittarius" class="ico-sagittarius">Sagitário</a></li>
			<li><a href="#capricorn" class="ico-capricorn">Capricórnio</a></li>
			<li><a href="#aquarius" class="ico-aquarius">Aquário</a></li>
			<li><a href="#pisces" class="ico-pisces">Peixes</a></li>
		</ul>
	</div>
	<!-- /HOROSCOPE WORKSPACE -->
</section>
<!-- /HOROSCOPE -->