<!DOCTYPE html>
<html>
	<head>
		include "head.html"
		<link rel="stylesheet" type="text/css" href="assets/style/home.css">
		<!-- PAGE IDENTIFICATION -->
		<meta name="page-id" content="home">
		<!-- /PAGE IDENTIFICATION -->
	</head>
	<body>
	include "header.html"
	<!-- MAIN SECTION -->
	<main id="main">
		<!-- MAIN SECTION WORKSPACE -->
		<div>
			include "widget-ticker.html"
			include "widget-advertising-1.html"

			<section class="split-1-1">
				<div>
					include "card-highlight-3-1.html"
				</div>
				<div>
					<section class="split">
						<div>
							include "card-highlight-3.html"
						</div>
						<div>
							include "card-highlight-3.html"
						</div>
					</section>
					include "card-highlight-3-2.html"
					include "card-wide-1.html"
				</div>
			</section>

			include "widget-advertising-2.html"

			<section id="ric-play">
				<header>
					<h2>Ric Play</h2>
					<form class="widget-form" id="frm-programs" action="#" method="post">
						<fieldset>
							<select class="drop-list" id="presenters-list" name="schedule_city">
								<option value="">Todos os programas</option>
								<option value="balanco_geral">Balanço Geral</option>
							</select>
						</fieldset>
					</form>
				</header>
				include "widget-ric-play.html"
			</section>

			include "widget-extra-block-2.html"

			<section class="split-1-1-1">
				<div>
					include "section-label-3.html"
					include "card-highlight-3.html"
					include "card-small-1-1.html"
					include "card-small-1-1.html"
				</div>
				<div>
					include "section-label-2.html"
					include "card-highlight-2.html"
					include "card-small-2-2.html"
					include "card-small-2-2.html"
				</div>
				<div>
					include "section-label-1.html"
					include "card-highlight-1.html"
					include "card-small-3-3.html"
					include "card-small-3-3.html"
				</div>
			</section>

			<section class="split-1-1-1">
				<div>
					include "section-label-3.html"
					include "card-highlight-3.html"
					include "card-small-1-1.html"
				</div>
				<div class="offset">
					include "card-small-1-2.html"
					include "card-small-1-1.html"
					include "card-small-1-1.html"
					include "card-small-1-1.html"
				</div>
				<div class="offset">
					include "widget-advertising-4.html"
					include "widget-voce-reporter.html"
				</div>
			</section>			

			<section class="list-quarter entretenimento">
				<header>
					<h3>Cultura Pop</h3>
				</header>
				<ul>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-23.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Contas inativas do FGTS: calendário de saques deve começar em 10 de março</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-23.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Contas inativas do FGTS: calendário de saques deve começar em 10 de março</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li>
						<figure>
							<a href="#"><img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" /></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
				</ul>
			</section>

			include "widget-advertising-2.html"

			<h2 class="title-9">Destaques</h2>

			<section class="split-2-1">
				<div>
					<section class="split">
						<div>
							include "card-highlight-3.html"
						</div>
						<div>
							include "card-highlight-3.html"
						</div>
					</section>
					<section class="split">
						<div>
							include "card-highlight-3.html"
						</div>
						<div>
							include "card-highlight-3.html"
						</div>
					</section>
				</div>
				<div>
					include "widget-advertising-3.html"
				</div>
			</section>

			include "widget-horoscope.html"

			include "widget-extra-block-1.html"

			<section class="split-2-1">
				<div>
					include "widget-columnists.html"

					include "section-label-4.html"
					include "widget-map-news.html"

					<section class="split">
						<div>
							include "widget-top-5.html"
						</div>
						<div>
							include "widget-top-5-read.html"
						</div>
					</section>

					include "widget-blogs-and-partners.html"

				</div>
				<div>
					include "widget-advertising-4.html"
					include "widget-newsletter.html"
					include "widget-advertising-5.html"
					include "widget-voce-reporter.html"
					include "widget-advertising-3.html"
				</div>
			</section>

			<section class="list-quarter noticias">
				<header>
					<h3>Mais vídeos</h3>
				</header>
				<ul>
					<li class="card">
						<figure class="video">
							<img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" />
							<a href="#"></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li class="card">
						<figure class="video">
							<img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" />
							<a href="#"></a>
						</figure>
						<h2><a href="#">Contas inativas do FGTS: calendário de saques deve começar em 10 de março</a></h2>
					</li>
					<li class="card">
						<figure class="video">
							<img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" />
							<a href="#"></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
					<li class="card">
						<figure class="video">
							<img src="assets/media/fake-img-22.jpg" width="195" height="132" alt="" />
							<a href="#"></a>
						</figure>
						<h2><a href="#">Crianças invadem sala durante entrevista do pai e cena diverte internautas</a></h2>
					</li>
				</ul>
			</section>

			<!-- FAKE CURSOS -->
			<section id="cursos">
				<img src="assets/media/bnr-cursos.png">
			</section>
			<!-- /FAKE CURSOS -->

			<section class="split-2-1">
				<div>
					include "widget-outbrain.html"
				</div>
				<div>
					include "widget-advertising-4.html"
				</div>
			</section>

			<!-- FAKE SHOPPING -->
			<section id="shopping">
				<img src="assets/media/bnr-shopping.png">
			</section>
			<!-- /FAKE SHOPPING -->

			<!--#include "card-main.html"-->
			<!--#include "widget-advertising-1.html"-->
			<!--#include "card-default-1.html"-->
			<!--#include "card-default-2.html"-->
			<!--#include "section-label-1.html"-->
			<!--#include "card-highlight-1.html"-->
			<!--#include "card-default-3.html"-->
			<!--#include "widget-advertising-2.html"-->
			<!--#include "section-label-2.html"-->
			<!--#include "card-highlight-2.html"-->
			<!--#include "card-default-4.html"-->
			<!--#include "label-ric-play.html"-->
			<!--#include "widget-ric-play.html"-->
			<!--#include "widget-advertising-1.html"-->
			<!--#include "section-label-3.html"-->
			<!--#include "card-highlight-3.html"-->
			<!--#include "card-default-2.html"-->
			<!--#include "section-label-4.html"-->
			<!--#include "widget-map-news.html"-->
			<!--#include "widget-top-5.html"-->
			<!--#include "widget-columnists.html"-->
			<!--#include "widget-advertising-2.html"-->
			<!--#include "widget-blogs-and-partners.html"-->
			<!--#include "widget-horoscope.html"-->
		</div>
		<!-- /MAIN SECTION WORKSPACE -->
	</main>
	<!-- /MAIN SECTION -->
	include "footer.html"
	</body>
	include "foot.html"
	<script type="text/javascript" src="assets/script/home.js"></script>
</html>