<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
		<title>Index</title>
		<link rel="icon" type="image/x-icon" href="assets/media/favicon.ico" />
	</head>
	<body>
		<header>
			<h1>Index:</h1>
		</header>
		<main id="main">
			<section id="done">
				<h2>Done</h2>
				<ol>				
					<li><a href="home.html">Home</a></li>
				</ol>
			</section>
			<section id="todo">
				<h2>To do</h2>
				<ol>
					<!-- li><a href="previsao-tempo.html">Tempo</a></li -->
				</ol>
			</section>
			<section id="in-progress">
				<h2>In progress</h2>
				<ol>
				</ol>
			</section>
			
		</main>
		<footer>

		</footer>
	</body>
</html>